In [90]:
import pandas as pd

In [91]:
# Đọc dữ liệu từ file Excel
excel_file = './DuLieuEXCEL.xlsx'
df_sinh_vien = pd.read_excel(excel_file, sheet_name='Sinh Vien')
df_diem_mon_1 = pd.read_excel(excel_file, sheet_name='Diem Mon 1')
df_diem_mon_2 = pd.read_excel(excel_file, sheet_name='Diem Mon 2')
df_diem_mon_3 = pd.read_excel(excel_file, sheet_name='Diem Mon 3')

In [92]:
# Hiển thị dữ liệu của các DataFrame
print("DataFrame Sinh Vien:")
print(df_sinh_vien)

DataFrame Sinh Vien:
    STT  Ma Sinh Vien                Ho Ten  Ngay Sinh Gioi Tinh Lop Quan Ly
0     1        189456             Le Van Do 2003-05-11       Nam       66PM1
1     2        198436         Nguyen Van An 2003-06-17       Nam       66PM5
2     3        208472  Tran Thi Khanh Huyen 2003-01-21        Nữ      66MHT1
3     4        208473          Tran Van Tho 2003-01-22       Nam      66MHT2
4     5        208474     Nguyen Hoang Thuy 2003-01-23        Nữ      66MHT3
5     6        208475            Vo Van Nam 2003-01-24       Nam      66MHT4
6     7        208476     Tran Thi Kim Dung 2003-01-25        Nữ      66MHT5
7     8        208477         Pho Thuy Linh 2003-01-26        Nữ      66MHT6
8     9        208478        Tran Thi Quynh 2003-01-27        Nữ       66PM6
9    10        208479  Nguyen Le Phuong Anh 2003-01-28        Nữ       66PM1
10   11        208480  Nguyen Le Anh Phuong 2003-01-29        Nữ       66PM4
11   12        208481         Nguyen Le Hai 2003-01-30       Nam      66MHT3
12   13        208482        Nguyen Phu Hai 2003-01-31       Nam       66PM4
13   14        208483          Le Van Luyen 2003-02-01       Nam       66PM6
14   15        208484        Tran Van Thanh 2003-02-02       Nam       66PM3

In [93]:
print("\nDataFrame Diem Mon 1:")
print(df_diem_mon_1)

DataFrame Diem Mon 1:
    STT  Ma Sinh Vien                Ho Ten  Diem Qua Trinh  Diem Cuoi Ky
0     1        189456             Le Van Do             7.0           4.0
1     2        198436         Nguyen Van An             6.0           4.5
2     3        208472  Tran Thi Khanh Huyen             8.5           6.0
3     4        208473          Tran Van Tho             8.6           6.8
4     5        208474     Nguyen Hoang Thuy             8.5           5.2
5     6        208475            Vo Van Nam            10.0           8.8
6     7        208476     Tran Thi Kim Dung             7.0           5.5
7     8        208477         Pho Thuy Linh             6.5           5.5
8     9        208478        Tran Thi Quynh             5.6           6.8
9    10        208479  Nguyen Le Phuong Anh             9.0           7.0
10   11        208480  Nguyen Le Anh Phuong             7.8           7.6
11   12        208481         Nguyen Le Hai             8.0           7.8
12   13        208482        Nguyen Phu Hai             5.9           8.8
13   14        208483          Le Van Luyen             4.6           9.0
14   15        208484        Tran Van Thanh             5.5           5.2

In [94]:

print("\nDataFrame Diem Mon 2:")
print(df_diem_mon_2)

DataFrame Diem Mon 2:
    STT  Ma Sinh Vien                Ho Ten  Diem Qua Trinh  Diem Cuoi Ky
0     1        189456             Le Van Do             7.0           4.0
1     2        198436         Nguyen Van An             6.0           4.5
2     3        208472  Tran Thi Khanh Huyen             8.5           6.0
3     4        208473          Tran Van Tho             8.6           6.8
4     5        208474     Nguyen Hoang Thuy             9.4           7.8
5     6        208475            Vo Van Nam            10.0           9.0
6     7        208476     Tran Thi Kim Dung             7.0           5.5
7     8        208477         Pho Thuy Linh             5.4           5.5
8     9        208478        Tran Thi Quynh             5.6           6.8
9    10        208479  Nguyen Le Phuong Anh             4.0           7.0
10   11        208480  Nguyen Le Anh Phuong             7.8           7.6
11   12        208481         Nguyen Le Hai             8.0           7.8
12   13        208482        Nguyen Phu Hai             5.9           5.5
13   14        208483          Le Van Luyen             4.6           9.0
14   15        208484        Tran Van Thanh             5.5           5.2

In [95]:
print("\nDataFrame Diem Mon 3:")
print(df_diem_mon_3)

DataFrame Diem Mon 3:
    STT  Ma Sinh Vien                Ho Ten  Diem Qua Trinh  Diem Cuoi Ky
0     1        189456             Le Van Do             7.0           4.0
1     2        198436         Nguyen Van An             6.0           4.5
2     3        208472  Tran Thi Khanh Huyen             8.5           6.0
3     4        208473          Tran Van Tho             8.6           6.8
4     5        208474     Nguyen Hoang Thuy             5.5           5.5
5     6        208475            Vo Van Nam            10.0           8.8
6     7        208476     Tran Thi Kim Dung             7.0           5.0
7     8        208477         Pho Thuy Linh             5.4           5.5
8     9        208478        Tran Thi Quynh             4.0           6.0
9    10        208479  Nguyen Le Phuong Anh             9.0           7.0
10   11        208480  Nguyen Le Anh Phuong             7.8           7.6
11   12        208481         Nguyen Le Hai             8.0           7.8
12   13        208482        Nguyen Phu Hai             8.0           9.0
13   14        208483          Le Van Luyen             4.6           9.0
14   15        208484        Tran Van Thanh             5.5           5.2

# C

In [96]:
#   Tạo DF mới với cột Diem Tong Ket
df_tong_hop = pd.DataFrame(df_sinh_vien["Ma Sinh Vien"])
df_tong_hop["Diem Tong Ket Mon 1"] = df_diem_mon_1["Diem Qua Trinh"] * 0.3 + df_diem_mon_1["Diem Cuoi Ky"] * 0.7
df_tong_hop["Diem Tong Ket Mon 2"] = df_diem_mon_2["Diem Qua Trinh"] * 0.3 + df_diem_mon_2["Diem Cuoi Ky"] * 0.7
df_tong_hop["Diem Tong Ket Mon 3"] = df_diem_mon_3["Diem Qua Trinh"] * 0.3 + df_diem_mon_3["Diem Cuoi Ky"] * 0.7

In [97]:
# Tự quy định hệ số môn 
he_so_mon_1 = 1
he_so_mon_2 = 1
he_so_mon_3 = 1

In [98]:
df_tong_hop

,Ma Sinh Vien,Diem Tong Ket Mon 1,Diem Tong Ket Mon 2,Diem Tong Ket Mon 3
0,189456,4.90,4.90,4.90
1,198436,4.95,4.95,4.95
2,208472,6.75,6.75,6.75
3,208473,7.34,7.34,7.34
4,208474,6.19,8.28,5.50
5,208475,9.16,9.30,9.16
6,208476,5.95,5.95,5.60
7,208477,5.80,5.47,5.47
8,208478,6.44,6.44,5.40
9,208479,7.60,6.10,7.60
10,208480,7.66,7.66,7.66
11,208481,7.86,7.86,7.86
12,208482,7.93,5.62,8.70
13,208483,7.68,7.68,7.68
14,208484,5.29,5.29,5.29

In [99]:
# Thêm cột Điểm trung bình
df_tong_hop["Diem Trung Binh"] = round((
    df_tong_hop["Diem Tong Ket Mon 1"] * he_so_mon_1
    + df_tong_hop["Diem Tong Ket Mon 2"] * he_so_mon_2
    + df_tong_hop["Diem Tong Ket Mon 3"] * he_so_mon_3
) / (he_so_mon_1 + he_so_mon_2 + he_so_mon_3), 2)
df_tong_hop

,Ma Sinh Vien,Diem Tong Ket Mon 1,Diem Tong Ket Mon 2,Diem Tong Ket Mon 3,Diem Trung Binh
0,189456,4.90,4.90,4.90,4.90
1,198436,4.95,4.95,4.95,4.95
2,208472,6.75,6.75,6.75,6.75
3,208473,7.34,7.34,7.34,7.34
4,208474,6.19,8.28,5.50,6.66
5,208475,9.16,9.30,9.16,9.21
6,208476,5.95,5.95,5.60,5.83
7,208477,5.80,5.47,5.47,5.58
8,208478,6.44,6.44,5.40,6.09
9,208479,7.60,6.10,7.60,7.10
10,208480,7.66,7.66,7.66,7.66
11,208481,7.86,7.86,7.86,7.86
12,208482,7.93,5.62,8.70,7.42
13,208483,7.68,7.68,7.68,7.68
14,208484,5.29,5.29,5.29,5.29

In [100]:
# Hợp nhất dataframe
df_tong_hop = pd.merge(df_sinh_vien, df_tong_hop, on="Ma Sinh Vien")
df_tong_hop

,STT,Ma Sinh Vien,Ho Ten,Ngay Sinh,Gioi Tinh,Lop Quan Ly,Diem Tong Ket Mon 1,Diem Tong Ket Mon 2,Diem Tong Ket Mon 3,Diem Trung Binh
0,1,189456,Le Van Do,2003-05-11,Nam,66PM1,4.90,4.90,4.90,4.90
1,2,198436,Nguyen Van An,2003-06-17,Nam,66PM5,4.95,4.95,4.95,4.95
2,3,208472,Tran Thi Khanh Huyen,2003-01-21,Nữ,66MHT1,6.75,6.75,6.75,6.75
3,4,208473,Tran Van Tho,2003-01-22,Nam,66MHT2,7.34,7.34,7.34,7.34
4,5,208474,Nguyen Hoang Thuy,2003-01-23,Nữ,66MHT3,6.19,8.28,5.50,6.66
5,6,208475,Vo Van Nam,2003-01-24,Nam,66MHT4,9.16,9.30,9.16,9.21
6,7,208476,Tran Thi Kim Dung,2003-01-25,Nữ,66MHT5,5.95,5.95,5.60,5.83
7,8,208477,Pho Thuy Linh,2003-01-26,Nữ,66MHT6,5.80,5.47,5.47,5.58
8,9,208478,Tran Thi Quynh,2003-01-27,Nữ,66PM6,6.44,6.44,5.40,6.09
9,10,208479,Nguyen Le Phuong Anh,2003-01-28,Nữ,66PM1,7.60,6.10,7.60,7.10
10,11,208480,Nguyen Le Anh Phuong,2003-01-29,Nữ,66PM4,7.66,7.66,7.66,7.66
11,12,208481,Nguyen Le Hai,2003-01-30,Nam,66MHT3,7.86,7.86,7.86,7.86
12,13,208482,Nguyen Phu Hai,2003-01-31,Nam,66PM4,7.93,5.62,8.70,7.42
13,14,208483,Le Van Luyen,2003-02-01,Nam,66PM6,7.68,7.68,7.68,7.68
14,15,208484,Tran Van Thanh,2003-02-02,Nam,66PM3,5.29,5.29,5.29,5.29

# D

In [106]:
# Lọc ra những sinh viên không qua môn theo từng môn
df_tong_hop[
    (df_tong_hop["Diem Tong Ket Mon 1"] < 4)
    | (df_tong_hop["Diem Tong Ket Mon 2"] < 4)
    | (df_tong_hop["Diem Tong Ket Mon 3"] < 4)
]

Empty DataFrame
Columns: [STT, Ma Sinh Vien, Ho Ten, Ngay Sinh, Gioi Tinh, Lop Quan Ly, Diem Tong Ket Mon 1, Diem Tong Ket Mon 2, Diem Tong Ket Mon 3, Diem Trung Binh]
Index: []

# E

In [109]:
# Những sinh viên không trượt môn nào 
df_tong_hop[
    (df_tong_hop["Diem Tong Ket Mon 1"] >= 4)
    & (df_tong_hop["Diem Tong Ket Mon 2"] >= 4)
    & (df_tong_hop["Diem Tong Ket Mon 3"] >= 4)
]

,STT,Ma Sinh Vien,Ho Ten,Ngay Sinh,Gioi Tinh,Lop Quan Ly,Diem Tong Ket Mon 1,Diem Tong Ket Mon 2,Diem Tong Ket Mon 3,Diem Trung Binh
0,1,189456,Le Van Do,2003-05-11,Nam,66PM1,4.90,4.90,4.90,4.90
1,2,198436,Nguyen Van An,2003-06-17,Nam,66PM5,4.95,4.95,4.95,4.95
2,3,208472,Tran Thi Khanh Huyen,2003-01-21,Nữ,66MHT1,6.75,6.75,6.75,6.75
3,4,208473,Tran Van Tho,2003-01-22,Nam,66MHT2,7.34,7.34,7.34,7.34
4,5,208474,Nguyen Hoang Thuy,2003-01-23,Nữ,66MHT3,6.19,8.28,5.50,6.66
5,6,208475,Vo Van Nam,2003-01-24,Nam,66MHT4,9.16,9.30,9.16,9.21
6,7,208476,Tran Thi Kim Dung,2003-01-25,Nữ,66MHT5,5.95,5.95,5.60,5.83
7,8,208477,Pho Thuy Linh,2003-01-26,Nữ,66MHT6,5.80,5.47,5.47,5.58
8,9,208478,Tran Thi Quynh,2003-01-27,Nữ,66PM6,6.44,6.44,5.40,6.09
9,10,208479,Nguyen Le Phuong Anh,2003-01-28,Nữ,66PM1,7.60,6.10,7.60,7.10
10,11,208480,Nguyen Le Anh Phuong,2003-01-29,Nữ,66PM4,7.66,7.66,7.66,7.66
11,12,208481,Nguyen Le Hai,2003-01-30,Nam,66MHT3,7.86,7.86,7.86,7.86
12,13,208482,Nguyen Phu Hai,2003-01-31,Nam,66PM4,7.93,5.62,8.70,7.42
13,14,208483,Le Van Luyen,2003-02-01,Nam,66PM6,7.68,7.68,7.68,7.68
14,15,208484,Tran Van Thanh,2003-02-02,Nam,66PM3,5.29,5.29,5.29,5.29